<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motion detection</title>
</head>
<body>
    <h1>Motion detection</h1>
    <img src="{{ url_for('motion_detection_feed') }}" />
</body>
</html>



































<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motion Detection</title>
</head>
<body>
    <h1>Motion Detection Feed</h1>
     Use a video tag to display the motion detection feed 
     <video id="motion_detection_video" autoplay controls></video>

    <script>
        // Get the video element
        var video = document.getElementById('motion_detection_video');

        // Set the source of the video to the motion detection feed route
        video.src = "{{ url_for('motion_detection_feed') }}";
    </script>
</body>
</html>

-->