
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
</head>
<body>
    <h1>Object Detection</h1>
    <img src="{{ url_for('object_detection_feed') }}" />
</body>
</body>
</html>































<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Obj detection</title>
</head>
<body>
    <h1>Obj detection</h1>
    <img src="{{ url_for('object_detection_feed') }}" />
</body>
</html>




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection</title>
</head>
<body>
    <h1>Object Detection</h1>
    <img id="object_detection_stream" src="{{ url_for('object_detection_feed') }}" alt="Object Detection Stream">

    <button onclick="goBackToHome()">Back to Home</button>

    <script>
        function goBackToHome() {
            window.close();

            window.location.href = "/";
        }
    </script>
</body>
</html>

-->
